<% if @bid && @bid.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @bid.errors.each do |attr, msg| %>
          <% if @bid.errors[attr].first == msg %>
            <li><%= "#{attr.to_s.capitalize!} #{msg}" %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-xs-6 col-md-4">
    <%= form_for([@auction, @auction.bids.build] , :html => { :multipart => true, :class => "form-signin"}) do |f| %>
        <div class="form-group">
          <%= f.label :amount %><br>
          <%= f.text_field :amount, class: "form-control", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :threshold %><br>
          <%= f.text_field :threshold, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.submit "Create Bid", class:"btn btn-lg btn-primary pull-left" %>
        </div>
    <% end %>
</div>
