<h1>Search</h1>
<%= search_form_for @search do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.submit %>
<% end %>

<h1>E-Bikes</h1>
<%= link_to 'New auction', new_auction_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.title %></td>
        <td><%= auction.text %></td>
        <td><%= link_to 'Show', auction_path(auction) %></td>
        <% if user_signed_in? and current_user.id == auction.user_id %>
        <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
        <td><%= link_to 'Destroy', auction_path(auction),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<%= link_to 'New auction', new_auction_path %>