<h1>Auction Overview</h1>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= @auction.title %></b>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
        <div class="row">
          <b>Title: </b> <%= @auction.title %>
        </div>
        <div class="row">
          <b>Text: </b> <%= @auction.text %>
        </div>
        <div class="row">
          <b>Start: </b> <%= @auction.start %>
        </div>
        <div class="row">
          <b>End: </b> <%= @auction.end %>
        </div>
        <div class="row">
          <b>KWh: </b> <%= @auction.kwh %>
        </div>
        <div class="row">
          <b>Mileage: </b> <%= @auction.mileage %>
        </div>
        <div class="row">
          <b>Color: </b> <%= @auction.color %>
        </div>
        <div class="row">
          <b>Brand: </b> <%= @auction.brand %>
        </div>
        <div class="row">
          <b>Seller: </b> <%= @auction.user.username %>
        </div>
        <div class="row">
          <b>Share:</b> <br><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>-->
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <h4><b>Image</b></h4>
          <%= image_tag @auction.avatar.url.to_s %>
        </div>

      </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Bids</b>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <div class="row">
            <b>Current bid: </b>
            <% if @auction.bids.select(&:persisted?).empty? %>
                <%= @auction.minimum_price %>
            <% else %>
                <%= @auction.bids.select(&:persisted?).each.max_by(&:amount).amount %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if !@auction.ended? %>
<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
<div class="row">
  <% if user_signed_in? %>
    <% unless current_user.username == @auction.user.username %>
      <h2>Place a bid</h2>
      <%= render 'bids/form'  %>
    <% end %>
  <% else %>
    <h2>Place a bid</h2>
    <%= link_to 'Log In to place a bid', new_user_session_path %>
  <% end %>
<% else %>
    <%= 'The auction has ended! You cannot place bids anymore!' %>
    <%= link_to 'Back', auctions_path %>
<% end %>
</div>