<h1>Auction Overview</h1>
<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @auction.text %>
</p>

<p>
  <strong>Start:</strong>
  <%= @auction.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @auction.end %>
</p>

<p>
  <strong>KWh:</strong>
  <%= @auction.kwh %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @auction.mileage %>
</p>

<p>
  <strong>Color:</strong>
  <%= @auction.color %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @auction.brand %>
</p>
<p>
  <stront>Image:</stront>
  <%= image_tag @auction.avatar.url.to_s %>
</p>

<div>
  Place a bid
  <% if user_signed_in? %>
    <%= render 'bids/form' %>
  <% else %>
    <%= link_to 'Log In to place a bid', new_user_session_path %>
  <% end %>
</div>
<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
